* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(135deg, #4facce, #00f2fe);
}

/* conteiner */
.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.container:hover {
    transform: scale(1.02);
}

/* input */
input {
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input:focus {
    border-color: #4facce;
    outline: none;
}

/* botão */
button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 10px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

/* links */
a {
    color: #4facce;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* mensagens */
#message {
    margin-top: 10px;
    font-size: 0.9rem;
}

/* status */
#status {
    margin-bottom: 15px 0;
    font-weight: bold;
}

/* Ações */
.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Responsivo */
@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}